.calculator
{
    padding: 10px;
    width: 310px;
    height: 400px;
    background-color: rgb(4, 1, 6);
    border: solid 2px rgb(23, 219, 17);
}
input
{
    width: 300px;
    height: 50px;
    background-color: aqua;   
}
button
{
    width: 100px;
    height: 100px;
    size: 20px;
}
.lower
{
   margin-top: 5px;
   display: flex;
}
#ans
{
    margin-left: 5px;
    padding-left: 10px;
    width: 192px;
    border: solid 0.3px;
    background-color: rgb(28, 227, 22);
    display: flex;
    align-items: center;
    font-size: 40px;
    overflow: scroll;
    scrollbar-width: none; 
}
.XLIcons
{
    font-size: xx-large;
}
.reset
{
    width: 4.4rem;
    height: 1.7rem;
    background-color: red;
    border: none;
    font-family: sans-serif;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 0.3rem;
    cursor: pointer;
}
#addition,
#subtraction,
#multiply,
#division
{
    cursor: pointer;
}




